/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: #434343;
}

a:hover {
    color: #8CCF4D;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #335C32;
}

p {
    font-family: 'Poppins', sans-serif;
}


/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/


/* 
#departemen #exampleModal .modal-body h4 {
    font-weight: 600px;
    font-size: 24px;
    color: #000;
} */


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.navbar {
    border-bottom: 1px solid #e9ecef;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 80px;
    position: relative;
}

.navbar-nav li.nav-item a.nav-link {
    color: #434343;
}

.navbar-nav li.nav-item a.nav-link:hover {
    text-decoration: none;
    color: #8CCF4D;
    transition: 0.3s;
}

.btn-primary {
    color: #fff;
    background-color: #8CCF4D;
    border-color: #8CCF4D;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6fa83a;
    border-color: #6fa83a;
}

.btn-secondary {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #8CCF4D;
    background-color: #fff;
    border-color: #fff;
}


/*--------------------------------------------------------------
# Login&Regis
--------------------------------------------------------------*/

#card {
    border-radius: 10px;
}

form input+i {
    position: absolute;
    left: 7px;
    top: 10px;
    color: rgb(192, 191, 191);
}

#Login_V .form-control {
    border-radius: 10px;
    border: 1px solid rgba(51, 92, 50, 1);
}

#login {
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 20px;
}

.regis {
    display: inline;
    text-decoration: none;
    color: #8CCF4D;
}

.regis:hover {
    color: #6fa83a;
}

#lupa {
    width: 100%;
}

.lupa {
    display: block;
    width: auto;
    padding-top: 5px;
    text-decoration: none;
    text-align: right;
    color: #8CCF4D;
    padding-bottom: 30px;
}

.lupa:hover {
    color: #6fa83a;
}

#Login_V .d-grid .btn {
    border-radius: 10px;
    background: linear-gradient(91.44deg, #A4EC60 14.21%, #61B115 88.29%);
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
}

#Login_V .d-grid .btn:hover {
    border-radius: 10px;
    background: linear-gradient(91.44deg, #81d334 14.21%, #4d9906 88.29%);
    color: #fff;
    font-weight: 600px;
    font-size: 18px;
}

#regis_V .d-grid .btn {
    border-radius: 10px;
}


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

.slider .carousel .carousel-inner {
    height: 580px;
}

#landTentang {
    background: #F6F8FD;
}

#landTentang h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#landTentang h5 {
    font-weight: 600;
    font-size: 24px;
    color: rgba(49, 49, 49, 1);
}

#landTentang p {
    font-weight: 400;
    font-size: 16px;
    color: #292C2B;
}

#landTentang .btn {
    color: #335C32;
    background: #fff;
    border-color: #335C32;
    font-weight: 500;
    font-size: 18px;
}

#landTentang .card {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #F6F8FD;
}

#landTentang .card .img-fluid {
    width: 317px;
    height: 226px;
}

#landDepartemen h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#landDepartemen .card-group {
    width: 100%;
}

#landDepartemen .card-group .card {
    width: 393px;
    height: 528px;
}

#landDepartemen .card-group .card h2 {
    font-size: 16px;
    font-weight: 400px;
}

#landDepartemen .btn {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#landDepartemen .d-grid {
    margin-top: 80px;
}

#landDepartemen .d-grid .btn {
    color: #335C32;
    background: #fff;
    border-color: #335C32;
    font-weight: 500;
    font-size: 18px;
}

#landKaryawan {
    background: #F6F8FD;
}

#landKaryawan h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#landKaryawan p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-align: center;
}

#landKaryawan .card-group .card {
    width: 288.46px;
    height: 500px;
    border-radius: 10px;
}

#landKaryawan .d-grid {
    margin-top: 80px;
}

#landKaryawan .d-grid .btn {
    color: #335C32;
    background: #fff;
    border-color: #335C32;
    font-weight: 500;
    font-size: 18px;
}

#landLowongan h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#landLowongan p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-align: center;
}

#landLowongan .selengkapnya.d-grid {
    margin-top: 30px;
    margin-bottom: 50px;
}

#landLowongan .selengkapnya.d-grid .btn {
    color: #335C32;
    background: #fff;
    border-color: #335C32;
    font-weight: 500;
    font-size: 18px;
}

#landArtikel {
    background: #F6F8FD;
}

#landArtikel h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}

#landArtikel p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    text-align: center;
}

#landArtikel .card {
    height: 600px;
}

#landArtikel .d-grid {
    margin-top: 50px;
}

#landArtikel .d-grid .btn {
    color: #335C32;
    background: #fff;
    border-color: #335C32;
    font-weight: 500;
    font-size: 18px;
}

#landKontak h2 {
    padding-top: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
}


/*--------------------------------------------------------------
# Departemen
--------------------------------------------------------------*/

#strukturDept {
    padding-top: 140px;
}

#daftarDept {
    padding-top: 40px;
}

#departemen .card {
    width: 393px;
    height: 528px;
}

#departemen .card-img-top {
    width: 100%;
    height: 200;
}


/*--------------------------------------------------------------
# karyawan
--------------------------------------------------------------*/

#karyawan .card {
    width: 288.46px;
    height: 459px;
    border-radius: 10px;
}

#karyawan .card-img-top {
    width: 288.46px;
    height: 277px;
}

#karyawan .container {
    padding-top: 140px;
}


/*--------------------------------------------------------------
# kontak
--------------------------------------------------------------*/

#hubungi .HubungiKami .kirim {
    height: 100px;
}

#hubungi .form-control {
    border-color: #C4C4C4;
    border-radius: 5px !important;
}

.btn-success {
    background-color: #8CCF4D;
    border-color: #8CCF4D;
    width: 135px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 16;
}

.btn-success:hover {
    background-color: #6fa83a;
    border-color: #6fa83a;
    width: 135px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 16;
}

.btn-outline-light {
    border-color: #fff;
    color: #000;
    width: 100px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 16;
}

.btn-outline-light:hover {
    border-color: #fff;
    background-color: #fff;
    color: #6fa83a;
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 16;
}

.d-inline {
    color: #292C2B;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/*--------------------------------------------------------------
# Lowongan
--------------------------------------------------------------*/

#lamaran .card {
    background: #F6F8FD;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #2145a0;
    padding: 0 0 30px 0;
    color: #000;
    height: 196px;
    font-size: 14px;
}


/* 
#footer .footer-top {
  background: #F6F8FD;
  border-top: 1px solid #768fa6;
  border-bottom: 1px solid #67839c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #768fa6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #F6F8FD;
  color: #000;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #F6F8FD;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
} */

#footer {
    background: #f6f8fd;
    height: 196px;
    margin-top: auto;
    color: #000000;
    font-size: 14px;
    text-align: center;
}

#footer .copyright {
    text-align: center;
    font-family: "Poppin", sans-serif;
    font-size: 15px;
    padding-top: 50px;
}

#digi {
    color: #8ccf4d;
}

#footer .credits {
    padding-top: 10px;
    color: #fff;
}

#footer .credits a {
    color: #F6F8FD;
}


/* Tentang */

.page-1 {
    width: 900px;
    align-content: center;
}

h2.pt {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 36;
    font-weight: 600;
    color: #335C32;
}

p.text-break-1 {
    margin-top: 30px;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16;
}

p.text-break-2 {
    margin-top: 20px;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16;
}

.frame {
    width: 604px;
    height: 514px;
}

.card {
    -webkit-box-shadow: 0 0 35px 10px #ededed;
    box-shadow: 0 0 35px 10px #ededed;
    /* width: 393px; */
    /* height: 338px; */
}

.visiMisi {
    margin-bottom: 200px;
}

.visiMisi .row {
    margin-top: -400px;
}

.card .card-body {
    text-align: center;
}

.judul {
    width: 100%;
}


/* .tentang_1 {
    padding-left: 180px;
    padding-right: 180px;
} */

.tentang {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}